<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka.Hocon" version="0.3.0" targetFramework="net452" />
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="4.3.10" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.10" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.10" targetFramework="net452" />
  <package id="protobuf-net" version="2.3.7" targetFramework="net452" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net452" />
  <package id="SuperWebSocket" version="0.9.0.2" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net452" />
</packages>